;; -*- mode: clojure; -*-
;;
;; sample configuration for dev testing

(require '[riemann.elastic :as elastic])

(logging/init :file "riemann.log")

(tcp-server)
(udp-server)
;;(ws-server)
(repl-server)

(def es-index (elastic/elasticsearch "http://33.33.33.50:9200"))

(let [index (default :ttl 300 (update-index (index)))]
  (streams
   (where (not (tagged "riemann"))
          (rollup 1 5 (es-index "face"))
          index)))
