;; Load up our metrics collector and generate them ever 10 seconds
(require 'kiries.jvm)
(every! 10 (fn []
             (doall
              (map
               (fn [e]
                 (riemann.core/stream! @riemann.config/core e))
               (kiries.jvm/vm-metrics :prefix "kiries")))))

;; Log all JVM events to the jvm-metrics index
(streams
 (where (service #"^kiries.jvm")
        (rollup 1 5
                (elastic/es-index "jvm-metrics"
                                  :timestamping :day
                                  :index "jvm-metrics"))))
