;; -*- mode: clojure; -*-
;;
;; sample configuration for Kiries

(require '[riemann.elastic :as elastic])

(logging/init :file "logs/kiries.log")

(tcp-server)
(udp-server)

;;(ws-server)

;; uncomment to enable Riemann's REPL server.
;; (repl-server)


(elastic/es-connect "http://localhost:9200")

;; Load up some index mappings that optimize for time-series data
(elastic/load-index-template "default" "config/default-mapping.json")

;; Load up template for our internal monitoring indexes
;;(elastic/load-index-template "kiries-internal" "kiries-internal.json")

(streams
 (where (not (service #"^riemann"))
        (rollup 1 5 (elastic/es-index "kiries"
                                      :timestamping :day
                                      :index "logstash"
                                      ))))




