;; -*- mode: clojure; -*-
;;
;; sample configuration for Kiries

(require '[riemann.elastic :as elastic])

(logging/init :file "logs/kiries.log")

(tcp-server)
(udp-server)

;;(ws-server)

;; uncomment to enable Riemann's REPL server.
;; (repl-server)

(elastic/es-connect "http://localhost:9200")

;; Load up some index mappings that optimize for time-series data
(elastic/load-index-template "default" "config/default-mapping.json")


;; by default we dump all events, except riemann internal events, to a
;; single "logstash-YYYY-MM-DD" index
(streams
 (where (not (service #"^riemann"))
        (rollup 1 5 (elastic/es-index "kiries"
                                      :timestamping :day
                                      :index "logstash"))))


;; JVM metrics for Kiries process
(include "jvm-metrics.config")
(require 'kiries.jvm)
(every! 10 (fn []
             (doall
              (map
               (fn [e]
                 (riemann.core/stream! @riemann.config/core e))
               (kiries.jvm/vm-metrics)))))





