; -*- mode: clojure; -*-

(require '[kiries.elastic :as elastic])

(logging/init {:file "riemann.log"})

(let [host "0.0.0.0"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host}))

(def index-name "metrics")

(def elastic-addr (or (System/getenv "ELASTICSEARCH_URL")
                      "http://localhost:9200"))

(def connection (elastic/es-connect elastic-addr))

(periodically-expire 5)

(let [index (index)]
  (streams
    (default :ttl 60
      index
      (expired
        (fn [event] (info "expired" event))))
    (where (not (service #"^riemann"))
           (rollup 1 5 (elastic/es-index connection "metric"
                                         :timestamping :day
                                         :index index-name)))))
