[Unit]
Description=Kiries Monitoring Server
After=network.target

[Service]
Type=simple
User=kiries
Group=daemon
ExecStart=/usr/bin/kiries --port ${KIRIES_PORT}
WorkingDirectory=/usr/share/kiries
EnvironmentFile=-/etc/conf.d/kiries
SyslogIdentifier=%p

Restart=always

[Install]
WantedBy=multi-user.target
